.mobile-menu {
    padding: 159px 0 90px;
    max-width: calc(100% * (520 / 768));
    height: 100vh;
    background-color: #FFFFFF;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav__item {
  padding-bottom: 4px;
  margin-bottom: 22px;
}

.mobile-nav__item:last-child {
  margin-bottom: 0;
}

.mobile-nav__link_active {
  border-bottom: 2px solid #000000;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-decoration: none;
  color: #000000;
  transition: opacity .5s linear;
}

.mobile-nav__link:hover {
  opacity: 0.8;
}

.mobileuser-nav {
  display: flex;
  justify-content: center;
}

.usermobile-nav__item {
  display: flex;
  justify-content: center;
}

.usermobile-nav__link {
  padding: 8px 12px 8px 31px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  position: relative;
  transition: opacity .5s linear;
  color: #000000;
  text-decoration: none;
}

.usermobile-nav__link:hover {
  opacity: .8;
}

.usermobile-nav__link::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 14px;
  background-image: url("../../images/account.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 8px;
  left: 12px;
}
